@import "./variables.scss";
/*----------------------Schriften-------------------*/
/*Seitentitel*/
h1 {
  color: $Gray4;
  font-family: "Nunito Sans";
  text-align: center;
  margin-top: 60px;
}
/*Abschnittsüberchrift*/
h2 {
  color: $FontColorStandard;
  font-family: "Nunito Sans";
  font-size: $FontSizeVeryLarge;
  font-weight: 300;
  /*padding-left: 20px;*/ /*wird jetzt über container-small erstmal geregelt*/
  margin-bottom: 40px;
}
h3 {
  color: $Gray4;
  font-family: "Nunito Sans";
  margin: 0;
  padding: 0;
}
h4 {
  /*darf keine farbe bekommen, sonst script anpassen*/
  font-family: "Nunito Sans";
}

/*Schrift für block*/
h5 {
  font-family: "Nunito Sans";
  font-size: 5em;
  color: white;
}

p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: $FontSizeRegular;

  line-height: 1.5;

  &.large {
    font-weight: 300;
    font-size: $FontSizeLarge;

    line-height: 1.4;
  }
}

q {
  color: var(--dunkelblau);
  font-family: "Nunito Sans";
}

ul {
  font-family: "Roboto";
  font-size: $FontSizeRegular;
}
