@import "./variables.scss";
/*----------------------Schriften-------------------*/
/*Seitentitel*/
h1 {
  color: $Gray4;
  font-family: "Nunito Sans";
  text-align: center;
  margin-top: 60px;

/*Abschnittsüberchrift*/
}
h2 {
  color: $Gray4;
  font-family: "Nunito Sans";
  /*padding-left: 20px;*/ /*wird jetzt über container-small erstmal geregelt*/
  margin-bottom: 40px;
}
h3 {
  color: $Gray4;
  font-family: "Nunito Sans";
  margin: 0;
  padding: 0;
}
h4 {
  /*darf keine farbe bekommen, sonst script anpassen*/
  font-family: "Nunito Sans";
}

/*Schrift für block*/
h5{
  font-family: "Nunito Sans";
  font-size: 1em;
  
}

p {
  font-family: "Roboto";
  font-size: $FontSizeRegular;

  line-height: 1.5;
}

q {
  color: var(--dunkelblau);
  font-family: "Nunito Sans";
}

ul {
  font-family: "Roboto";
  font-size: $FontSizeRegular;
}
