/*----------------------Einleitung-------------------*/

.zitat {
  margin: 0 20% 0 20%;
  padding: 30%;
}
.aussageL {
  padding: 10%;
  text-align: left;
}
.aussageR {
  padding: 10%;
  text-align: right;
}

blockquote {
  width: 50%;
  text-align: center;
  color: #5c4c40;

  font-family: "Roboto", regular;
  font-size: 16pt;
  padding-left: 10px;
  margin: 200px auto;
  line-height: 2;
}

.einleitung {
  border-left: 3px solid #897860;
}

#trailer {
  margin: 200px;
  border: 3px solid var(--mittelgrau);
  padding: 250px;
  border-radius: 4px;
}

/*--------------landchef concept reel-----------*/
#concept-reel {
  .illustration {
    position: relative;
    padding-bottom: 100%;

    .illustration-inner {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .tractor {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 7%;
      margin: -3.5%;
      transform-origin: 50%;

      transition: transform 2s ease-in-out;
      img {
        width: 100%;
      }

      @for $i from 0 through 7 {
        &[data-rotation="#{$i}"] {
          transform: rotate(360 / 7 * $i * 1deg) translateX(250%) rotate(90deg);
        }
      }
    }

    .world {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 30%;
      margin: -15%;
    }

    .circle {
      top: 7%;
      @include on-circle(7, 100%, 180px, ".item");

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        .img {
          width: 25%;
          stroke: var($Gray2);
          fill: var($Gray2);
          cursor: pointer;
        }
        h4 {
          cursor: pointer;
          text-align: center;
          font-weight: normal;
        }

        &.active {
          color: $PrimaryColor;
        }
      }

      .mitte {
        width: 40%;
      }

      /*.svg-red path {
          fill: red;
      }*/
    }
  }

  .text {
    .item {
      &:not(.active) {
        display: none;
      }
    }
  }
}
.aufteilung {
  display: flex;
  height: 100vh; /* 100vh ist die volle höhe des containers, und 100wv die volle breite*/
  margin-bottom: 200px;
}
.linkeSeite div {
  width: 20%;
}

/*----------------------Speechbubbles-------------------*/

/*----------------------prozess-------------------*/

.flex {
  display: flex;
}
.prozessÜbersicht {
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  height: 100vh;
  flex: 0 0 100%;
  margin-bottom: 200px;
}
.übersichtBild {
  position: relative;
  z-index: -1;
}

.übersichtVerpackung {
  position: absolute;
  width: 9%;
  left: 75%;
  top: 7%;
}

#boxVerpackung {
  position: absolute;
  width: 15%;
  left: 63%;
  top: 25%;
  visibility: hidden;
}

.übersichtApp {
  position: absolute;
  width: 6%;
  left: 57%;
  top: 0%;
}
#boxApp {
  position: absolute;
  width: 15%;
  left: 55%;
  top: 17%;
  visibility: hidden;
}

.übersichtEinkaufswagen {
  position: absolute;
  width: 9%;
  left: 39%;
  top: 15%;
}
#boxEinkaufswagen {
  position: absolute;
  width: 15%;
  left: 40%;
  top: 35%;
  visibility: hidden;
}

.übersichtLieferung {
  position: absolute;
  width: 9.5%;
  left: 82%;
  top: 40%;
}
#boxLieferung {
  position: absolute;
  width: 10%;
  left: 66%;
  top: 37%;
  visibility: hidden;
}

.übersichtUhr {
  position: absolute;
  width: 8%;
  left: 33%;
  top: 40%;
}
#boxUhr {
  position: absolute;
  width: 20%;
  left: 45%;
  top: 35%;
  visibility: hidden;
}

.übersichtPartner {
  position: absolute;
  width: 10%;
  left: 10%;
  top: 40%;
}

#boxPartner {
  position: absolute;
  width: 15%;
  left: 9%;
  top: 15%;
  visibility: hidden;
}

.übersichtBill {
  position: absolute;
  width: 7%;
  left: 75%;
  top: 68%;
}
#boxBill {
  position: absolute;
  width: 15%;
  left: 64%;
  top: 42%;
  visibility: hidden;
}

.übersichtKiste {
  position: absolute;
  width: 8%;
  left: 57%;
  top: 80%;
}
#boxKiste {
  position: absolute;
  width: 15%;
  left: 55%;
  top: 60%;
  visibility: hidden;
}

.übersichtMoney {
  position: absolute;
  width: 8%;
  left: 42.5%;
  top: 67%;
}
#boxMoney {
  position: absolute;
  width: 15%;
  left: 41%;
  top: 48%;
  visibility: hidden;
}

/*----------------------Wertschöpfungskette-------------------*/

.rahmenWertschöpfung {
  margin-bottom: -200px;
  flex: 0 0 100%;
  position: relative;
  height: 170vh;
}

.wertschöpfungskette {
}

.mittler {
  position: absolute;
  width: 5%;
  left: 40%;
  top: 33%;
  transform: rotate(7deg);
}

#boxMittler {
  position: absolute;
  width: 15%;
  left: 38%;
  top: 20%;
  visibility: hidden;
}

/*----------------------Partner Zeitstrahl-------------------*/

.zeitstrahl {
  margin-bottom: 300px;
}

.textLinks {
  flex: 0 0 50%;
}

.textLinks p {
  padding-left: 30%;
  padding-right: 10%;
  margin-top: -20%;
}

.bildAufRechts {
  position: relative;
  flex: 0 0 50%;
}

.bildAufRechts img {
  position: absolute;
  width: 80%;
  left: 10%;
  top: -80%;
}

#smiley {
  font-size: 30pt;
  width: 10%;
  position: absolute;
  left: 56%;
  top: 102%;
  visibility: hidden;
}

/*----------------------Grün Blau Boxen-------------------*/

.shadow {
  box-shadow: 10px 10px 15px #eaeaea;
}

.links {
  background-color: #57cf95;
  height: 400px;
  flex: 0 0 50%;
}
.rechts {
  background-color: var(--dunkelblau);
  height: 400px;
  flex: 0 0 50%;
}
.links h2 {
  padding-left: 20%;
  padding-top: 10%;
  text-align: left;
}
.rechts h2 {
  padding-left: 20%;
  padding-top: 10%;
  text-align: left;
  color: var(--mittelgrünPrimary);
}
.links ul {
  padding-left: 25%;
  padding-bottom: 10%;
  color: var(--dunkelblau);
}

.rechts ul {
  padding-left: 25%;
  padding-bottom: 10%;
  color: var(--mittelgrünPrimary);
}

.links p {
  padding-left: 20%;
  padding-bottom: 7%;
  color: var(--dunkelblau);
  text-align: center;
}
.rechts p {
  padding-left: 20%;
  padding-bottom: 0%;
  color: var(--mittelgrünPrimary);
  text-align: center;
}

.vision {
  background-color: var(--mittelgrünPrimary);
  height: 400px;
  flex: 0 0 50%;
}
.mission {
  background-color: var(--dunkelblau);
  height: 400px;
  flex: 0 0 50%;
}
.vision h2 {
  padding-top: 10%;
  text-align: center;
  padding-left: 0%;
}
.mission h2 {
  padding-top: 10%;
  text-align: center;
  color: var(--mittelgrünPrimary);
  padding-left: 0%;
}

.vision p {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom: 7%;
  color: var(--dunkelblau);
  text-align: center;
}
.mission p {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom: 0%;
  color: var(--mittelgrünPrimary);
  text-align: center;
}

/*---------------------- Team-------------------*/

.gründer {
  margin-bottom: 250px;
  justify-content: space-around;
  margin-top: 40px;
}

.jenny {
  box-shadow: 10px 10px 15px #eaeaea;
  width: 300px;
  height: 400px;
  text-align: center;
  margin-left: 15%;
  margin-top: 50px;
  border-radius: 4px;
  position: relative;
}

#boxJenny {
  position: absolute;
  background-color: rgba(87, 207, 149, 0.8);
  color: var(--dunkelblau);
  padding: 30px;
  padding-bottom: 0%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 80%;
  height: 49%;
  top: -4%;
  visibility: hidden;
  text-align: left;
}

.paddi {
  box-shadow: 10px 10px 15px #eaeaea;
  width: 300px;
  height: 400px;
  text-align: center;
  margin-right: 15%;
  margin-top: 50px;
  border-radius: 4px;
  position: relative;
}

#boxPaddi {
  position: absolute;
  background-color: rgba(32, 57, 89, 0.8);
  color: var(--mittelgrünPrimary);
  padding: 30px;
  padding-bottom: 0%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 80%;
  height: 49%;
  top: -4%;
  visibility: hidden;
  text-align: left;
}

.jenny h2,
.paddi h2 {
  margin-bottom: 5%;
  padding-left: 0%;
}

.jenny img,
.paddi img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.email {
  width: 100%;
}

.jenny .email {
  color: var(--mittelgrünPrimary);
  visibility: hidden;
}

.paddi .email {
  visibility: hidden;
}

/*----------------------Preis Modell------------------*/

.price article {
  width: 33%;
  text-align: center;
  position: relative;
}
.price article div {
  border-color: var(--hellblauSecondary);
  border-width: 1px;
  border-style: solid;
  width: 300px;
  height: 400px;
  text-align: center;
  margin-left: 20%;
  margin-top: 50px;
  border-radius: 4px;
}

.price p {
  width: 80%;
  padding: 30px;
  margin-bottom: 50px;
  text-align: left;
}

.price q {
  color: var(--hellblauSecondary);
}

#boxStarter {
  position: absolute;
  left: 28.5%;
  top: 80%;
  width: 35%;
  text-align: center;
  visibility: hidden;
}

#boxBasic {
  position: absolute;
  left: 28.5%;
  top: 80%;
  width: 35%;
  text-align: center;
  visibility: hidden;
}

#boxPro {
  position: absolute;
  left: 28.5%;
  top: 80%;
  width: 35%;
  text-align: center;
  visibility: hidden;
}

/*----------------------Einzelne Box-------------------*/

.einzelneBox {
  width: 100%;
  height: 500px;
  margin-top: 200px;
  margin-bottom: 200px;

  /*rein oder raus??????????????*/
  box-shadow: 10px 10px 15px #eaeaea;
}
.einzelneBox p {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;

  font-family: "Nunito Sans", regular;
  font-size: 25pt;
  line-height: 1.5;
}
.einzelneBox.grün {
  background-color: var(--mittelgrünPrimary);
  color: var(--dunkelblau);
  text-align: center;
}
.einzelneBox.blau {
  background-color: var(--dunkelblau);
  color: var(--mittelgrünPrimary);
  text-align: left;
}

/*----------------------Reiner Text-------------------*/
.reinerText {
  padding-left: 20%;
  width: 60%;
  column-width: 300px;
}
.abstand {
  margin-bottom: 150px;
}
.umsetzung {
  margin-bottom: 200px;
}

.linkerText div,
.linkerText h3,
.linkerText p {
  float: left;
  width: 50%;
  text-align: left;
  padding-left: 50px;
  margin-bottom: 400px;
  margin-top: -10%;
}
.linkerText p {
  width: 30%;
  padding-left: 20%;
}

/*----------------------zentriertes Bild-------------------*/
.wert {
  width: 80%;
  display: block;
  margin-left: 10%;
  margin-right: auto;
}

/*----------------------Fußzeile-------------------*/

footer {
  background-color: var(--hellgrau);
  color: var(--mittelgrau);
  clear: both;
  padding-left: 10px;
}

/*----------------------aus Erklärvideo 1-------------------*/

#test {
  width: 1000px;
  float: left;
  padding-left: 10px;
}

input,
textarea {
  display: block;
  margin: 5px 0;
}

form {
  margin-top: 10px;
}

li {
  margin: 0px;
}
