@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,400i,700|Roboto:100,300,400,700&display=swap");

:root {
  --dunkelblau: #203959;
  --hellblauSecondary: #55dde6;
  --mittelgrünPrimary: #57cf95;
  --hellgrünTertiary: #b2db51;
  --dunkelgrün: #b2db51;
  --dunkelgrau: #6a6a6a;
  --mittelgrau: #c8c7c7;
  --hellgrau: #eaeaea;
  --fontcolor: #121212;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  height: 100%;
}

// Back to top button
#backToTop {
  position: fixed;
  bottom: 50px;
  right: 100px;
  transform: rotate(-90deg);
  width: 40px;
  height: 40px;
  background-color: var(--dunkelblau);
  border-radius: 100px;
  /*   display: flex;
    justify-content: center;
    align-items: center;*/

  img {
    width: 30px;
    position: relative;
    left: 7px;
    top: 4.5px;
  }
}

#page-container {
  section {
    &.page-hidden {
      position: absolute;
      transform: translateX(100%);
      visibility: hidden;
    }
  }
}

/*
.nav {
    background-color: var(--mittelgrünPrimary);
    color: var(--dunkelblau);
    list-style: none;
    text-align: right;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img{
    text-align: left;
    margin-left: 20px;
}

.nav li{
    display: inline-block;
    padding-right: 50px;
    font-family: "Nunito Sans", regular;
}

.nav li a{
    text-decoration: none;
    color: var(--dunkelblau);
}

.nav li a:hover{
    background-color: var(--dunkelblau);
    color: white;
} */

#container {
  background-color: var(--dunkelblau);
  margin: 0 auto;
}
