@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,400i,700|Roboto:100,300,400,700&display=swap");

:root {
  --dunkelblau: #203959;
  --hellblauSecondary: #55dde6;
  --mittelgrünPrimary: #57cf95;
  --hellgrünTertiary: #b2db51;
  --dunkelgrün: #b2db51;
  --dunkelgrau: #6a6a6a;
  --mittelgrau: #c8c7c7;
  --hellgrau: #eaeaea;
  --fontcolor: #121212;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  height: 100%;
}

// Back to top button
#backToTop {
  position: fixed;
  bottom: 50px;
  right: 100px;
  transform: rotate(-90deg);
  width: 40px;
  height: 40px;
  background-color: var(--dunkelblau);
  border-radius: 100px;
  /*   display: flex;
    justify-content: center;
    align-items: center;*/

  img {
    width: 30px;
    position: relative;
    left: 7px;
    top: 4.5px;
  }
}

#page-container {
  section {
    &.page-hidden {
      position: absolute;
      transform: translate(100%, -100%);
      visibility: hidden;
    }
  }
}

#line-illustration {
  width: 100%;
  svg {
    width: 100%;

    #tractor {
      transition: transform 5s ease-in-out;
    }

    #truck {
      transition: transform 5s 5s ease-in-out;
    }

    .elem-inner {
      transition: transform 0.3s;
      transform-origin: 10px 10px;
    }
  }

  &[data-direction="backward"] {
    #tractor {
      transition: transform 5s 5s ease-in-out;
    }
    #truck {
      transition: transform 5s ease-in-out;
    }
    #tractor .elem-inner {
      transform: scaleX(-1);
    }
    #truck .elem-inner {
      transform: scaleX(-1);
    }
  }

  &[data-index="0"] {
    #tractor {
      transform: translate(0, 0);
    }
    #truck {
      transform: translate(0px, 0px);
    }

    &[data-direction="backward"] {
      #tractor {
        transition: transform 5s ease-in-out;
      }
      #truck {
        transition: transform 5s ease-in-out;
      }
    }
  }
  &[data-index="1"] {
    #tractor {
      transform: translate(150px, -4px);
    }
    #truck {
      transform: translate(0, 0px);
    }
  }
  &[data-index="2"] {
    #tractor {
      transform: translate(270px, -12px);
    }
    #truck {
      transform: translate(385px, -3px);
    }
  }
}

.regular-img {
  width: 100%;
}

#container {
  background-color: var(--dunkelblau);
  margin: 0 auto;
}
