@import "./variables.scss";

$containerWidth: 960px;
$containerMargin-bottom: 50px;

.container {
  width: 100%;
  padding: $SizeExtraLarge $SizeRegular;
  margin-bottom: $containerMargin-bottom;
  box-sizing: border-box;

  .container-inner {
    margin: 0 auto;
    max-width: $containerWidth;
    width: 100%;
    box-sizing: border-box;
  }

  .column {
    flex: 0 0 50%;
    display: block;
    min-width: 0;
    padding: $SizeRegular;
    box-sizing: border-box;
  }

  .columns {
    display: flex;
    justify-content: center;

    &.columns-2-1 {
      .column:nth-child(0) {
        flex: 0 0 33%;
      }
      .column:nth-child(1) {
        flex: 0 0 67%;
      }
    }
    &.columns-1-2 {
      .column:nth-child(1) {
        flex: 0 0 33%;
      }
      .column:nth-child(2) {
        flex: 0 0 67%;
      }
    }
  }
}

$blockHeight: 80vh;

.block {
  padding: $SizeExtraLarge 0;
  // generates '.block-dark'
  &-dark {
    background-color: $Gray4;
    color: $FontColorInverted;
    box-shadow: 10px 10px 15px #eaeaea;

    &-text{
      color: white;
    }
    &-footer-text{
      color: $FontColorVeryLight  ;
    }
    a{
      color: $SecondaryColor;
    }
    
  }
  &-primary {
    background-color: $PrimaryColor;
    color: $Gray4;
    box-shadow: 10px 10px 15px #eaeaea;
  }
 
}
