$PrimaryColor: #57cf95;
$SecondaryColor: #55dde6;
$TertiaryColor: #b2db51;

$Gray1: #eaeaea;
$Gray2: #c7c7c7;
$Gray3: #696969;
$Gray4: #203959;

$White: #fff;

$BackgroundColor: #fff;

$FontColorStandard: #121212;
$FontColorInverted: #fff;
$FontColorLight: #666;
$FontColorVeryLight: #a3a3a3;

$BorderRadiusStandard: 4px;

$SizeTiny: 4px;
$SizeVerySmall: 8px;
$SizeSmall: 12px;
$SizeRegular: 16px;
$SizeMedium: 20px;
$SizeLarge: 24px;
$SizeVeryLarge: 32px;
$SizeExtraLarge: 48px;

$FontSizeSmall: 14px;
$FontSizeRegular: 16px;
$FontSizeLarge: 24px;
$FontSizeVeryLarge: 32px;

$IconSizeRegular: $SizeRegular;
