@import "../variables.scss";

#page-farmer {
  #section-login {
    .picture-carousel {
      .picture {
        img {
          width: 100%;
        }
      }
    }
    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        line-height: 1.5;
        padding-bottom: $SizeVeryLarge;
      }
    }
  }

  #section-order {
    h2 {
      text-align: center;
    }

    img {
      margin-bottom: -$SizeExtraLarge * 3;
    }
  }
}
