@import "../variables.scss";

#page-restaurant {
  .product-seearch {
    width: 100%;
  }

  #find-partners h2 {
    padding-top: 20%;
    padding-left: 20%;
  }

  #find-partners p {
    padding-left: 20%;
  }

  .items {
    .item {
      border: solid 1px $Gray1;
      background-color: white;
      color: $Gray4;
      border-radius: $BorderRadiusStandard;
      padding: $SizeSmall $SizeVerySmall;
      margin-top: $SizeSmall;
      box-shadow: 0 5px 12px -4px rgba($Gray4, 0.2);
    }
  }

  #section-radar #product-search {
    .location {
      &.active {
        fill: $PrimaryColor;
      }
    }
  }
}
