@import "../variables.scss";

#page-restaurant {
  .product-seearch {
    width: 100%;
  }

  #find-partners h2 {
    padding-top: 20%;
    padding-left: 20%;
  }

  #find-partners p {
    padding-left: 20%;
  }

  .lists {
    .items {
      width: 100%;
      .item {
        border: solid 1px $Gray1;
        border-radius: $BorderRadiusStandard;
        padding: $SizeSmall $SizeVerySmall;
        margin-top: $SizeSmall;
        box-shadow: 0 5px 12px -4px rgba($Gray4, 0.2);
        display: flex;
        .inner-left {
          flex: 0 0 15%;
          text-align: center;
        }
        .inner-right {
          flex: 0 0 80%;
        }
      }
    }
  }

  #section-radar #product-search {
    #choose {
      &:hover {
        .option {
          animation: none;
        }
      }
      .option {
        transition: all 0.3s;
        cursor: default;
        @for $i from 0 through 7 {
          &:nth-child(#{$i}) {
            animation: optionFlow 5s (2s + $i * 0.5s) infinite;
          }
        }

        &:hover {
          transform: scale(1.01);
        }

        @keyframes optionFlow {
          0% {
            transform: scale(1);
          }
          10% {
            transform: scale(1.01);
          }
          20% {
            transform: scale(1);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }
    .location {
      fill: rgba($Gray2, 0.5);
      transition: all 0.3s;
      &.active {
        fill: $PrimaryColor;
      }
    }
  }

  #section-appointment {
    #appointment {
      box-shadow: 0 $SizeSmall $SizeLarge -$SizeTiny rgba($Gray4, 0.2);
      border: solid 1px $Gray1;
      border-radius: $BorderRadiusStandard;
      padding: $SizeRegular $SizeLarge;
      position: relative;

      .bubble {
        width: $SizeVeryLarge;
        height: $SizeVeryLarge;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: rotate(45deg);
        background-color: white;
        margin-top: -$SizeRegular;
        margin-left: -$SizeRegular;

        border-right: 1px solid $Gray1;
        border-bottom: 1px solid $Gray1;
      }

      .header {
        font-size: $FontSizeLarge;
      }
      .time-hint {
        color: $FontColorVeryLight;
        font-size: $FontSizeSmall;
        margin-top: $SizeSmall;
        .clock {
          height: $SizeSmall;
          margin-right: $SizeSmall;
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;
        margin-top: $SizeLarge;

        .action {
          border-radius: $BorderRadiusStandard;
          padding: $SizeVerySmall $SizeSmall;
          background-color: $Gray1;
          cursor: default;

          &.primary {
            background-color: $PrimaryColor;
            color: white;
            font-weight: bold;
            font-size: $FontSizeRegular;
          }

          &.disabled {
            opacity: 0.5;
          }
        }
      }

      .description {
        margin-top: $SizeVerySmall;
        margin-bottom: $SizeVerySmall;

        font-size: $FontSizeSmall;
        color: $FontColorVeryLight;
      }

      .calendar {
        display: flex;
        width: 100%;
        justify-content: center;
        font-family: "Nunito Sans";
        margin-top: $SizeVeryLarge;

        .row {
          display: flex;
          flex-direction: column;
          flex: 0 0 $SizeExtraLarge;
        }
        .slot {
          display: flex;
          justify-content: center;
          align-items: center;
          width: $SizeLarge;
          height: $SizeLarge;
          margin: $SizeTiny;

          &.day {
            font-weight: bold;
            &.today {
              background-color: $PrimaryColor;
              border-radius: 50%;
              color: white;
            }
          }
          &.time {
            font-weight: bold;
          }

          &.available {
            border-radius: 50%;
            background-color: $Gray1;
            &.active {
              background-color: $TertiaryColor;
            }
            &:hover {
              background-color: rgba($TertiaryColor, 0.6);
            }
          }
        }
      }
    }
  }
}
