@import "../variables.scss";

#page-restaurant {
  .product-seearch {
    width: 100%;
  }

  #find-partners h2 {
    padding-top: 20%;
    padding-left: 20%;
  }

  #find-partners p {
    padding-left: 20%;
  }

  #section-radar #product-search {
    .location {
      &.active {
        fill: $PrimaryColor;
      }
    }
  }
}
