@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,400i,700|Roboto:100,300,400,700&display=swap');

.zweiBoxen.clearfix:before,
.clearfix:after {
content: ” “;
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}

.clearfix:before,
.clearfix:after {
content: ” “;
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}

.left {
float: left;
width: 33%;
}

:root {
    --dunkelblau: #203959;
    --hellblauSecondary: #55DDE6;
    --mittelgrünPrimary: #57CF95;
    --hellgrünTertiary: #B2DB51;
    --dunkelgrün: #B2DB51;
    --dunkelgrau: #6A6A6A;
    --mittelgrau: #C8C7C7;
    --hellgrau: #EAEAEA;
    --fontcolor: #121212;
}
body{
    margin: 0;
    padding: 0;
  
}

/*
.nav {
    background-color: var(--mittelgrünPrimary);
    color: var(--dunkelblau);
    list-style: none;
    text-align: right;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img{
    text-align: left;
    margin-left: 20px;
}

.nav li{
    display: inline-block;
    padding-right: 50px;
    font-family: "Nunito Sans", regular;
}

.nav li a{
    text-decoration: none;
    color: var(--dunkelblau);
}

.nav li a:hover{
    background-color: var(--dunkelblau);
    color: white;
} */

#container{
    background-color: var(--dunkelblau);
    margin: 0 auto;
}

header{
  /* background-color: white; */
    text-align: center;
    margin: 0;
    background-image: url(pictures/unscharfeKuh.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;;
}

.headerImage{
    position: absolute;
    top: 0;
    left: 0;
}

#lImg{
   margin-top: 30px;
   width: 20%;
}





/*
header img{
    text-align: left;
    margin-top: 70px;
    padding: 0;
} */



header p{
    text-align: center;
    font-family: "Nunito Sans", regular;
    color: var(--dunkelgrau);
}

.zitat{
    margin: 0 20% 0 20%;
    padding: 30%;
}

.aussageL{
    padding: 10%;
    text-align: left;
}
.aussageR{
    padding: 10%;
    text-align: right;
}


#test{
    width: 1000px;
    float: left;
    padding-left: 10px;
}

/* besser Artikel nicht ineinander*/
.zweiBoxen article{
    float: left;
    width: 50%
}

.quest div{
    
}

.Gastronom{
    text-align: right;
    margin-top: 20px;
    width: 20%;
    position: relative;
    right: 10px;
    float: right;
}

.Landwirt{
    margin-left: 20px;
    margin-top: 20px;
    width: 29%;
    float: left;
}

.pfeilLandwirt{
    fill: var(--mittelgrünPrimary);

}

.question{
    text-align: center;
    width: 40%;
    float: left;
}

.links{ 
    background-color: #57CF95; 
}
.rechts{ 
    background-color: var(--hellgrünTertiary);   
}

.zweiBoxen{
    
}

footer{
    background-color: var(--hellgrau);
    color: var(--mittelgrau);
    clear: both;
    padding-left: 10px;
   
}

h1,h2{
    margin: 0;
    padding: 0;
   

}

h1 {
    color: var(--dunkelblau);
    font-family: "Nunito Sans", regular;
    text-align: center;
    margin-top: 60px;
   
}

h2{
    color: var(--dunkelblau);
    font-family: "Nunito Sans", regular;
}

p{
    font-family: "Roboto", regular;

}

#question{
    color: var(--dunkelgrau);
    text-align: center;
    margin: 30px;
}

input, textarea{
    display: block;
    margin: 5px 0;
}

form{
    margin-top: 10px;
}

li{
    margin: 0px;
}